<header>
<nav>
   
        <img class="logo" src="./assets/logo1.png" alt="">
 
      
            <ul class="nav-item">
                <li class="nav-links"><a href="#">Plugins</a></li>
                <li class="nav-links"><a href="#">Themes</a></li>
                <i class="fa-solid fa-magnifying-glass" id="search"></i>

            </ul>
        

</nav>
</header>